.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}

.logo{
    width: 120px;
    height: 80px;
}

.card{
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img{
    width: 100%;
}

.restuarant-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}